@font-face {
  font-family: "ford-antenna";
  src: url("../fonts/Ford-Antenna-Regular/ford-antenna.ttf") format("truetype");
  font-weight: normal;
  font-style: oblique;
}
:root {
  --content-max-width: 90em;
  --base-font-size: 16px;
  --theme-color: rgb(39, 14, 151);
  --base-font-family: "ford-antenna";

  /* Horizontal Rule */
  --hr-border: 1px solid var(--mono-tint2);

  /* Mark */
  --mark-background: #ffecb3;
  --mark-color: ;

  /* Preformatted */
  --pre-font-family: var(--code-font-family);
  --pre-font-size: var(--code-font-size);
  --pre-font-weight: normal;
  --pre-line-height: ;

  /* Selection */
  --selection-color: #d7ebfc;
  --selection-border-color: #970000;

  /* Small */
  --small-font-size: var(--font-size-s);

  /* Strong */
  --strong-color: var(--heading-color);
  --strong-font-weight: 600;

  /* Sub/Sup */
  --subsup-font-size: var(--font-size-s);

  /* Sidebar */
  --sidebar-background: #d7ebfc;
  --sidebar-border-color: #d7ebfc ;
  --sidebar-border-width: 0;
  --sidebar-padding: 0 25px;
  --sidebar-transition-duration: var(--duration-fast);
  --sidebar-width: 17rem;


   /* Blockquote */
   --blockquote-background             : var(--mono-tint3);
   --blockquote-border-color           : ;
   --blockquote-border-style           : solid;
   --blockquote-border-width           : ;
   --blockquote-border-radius          : var(--border-radius-m);
   --blockquote-color                  : ;
   --blockquote-em-font-family         : ;
   --blockquote-em-font-size           : ;
   --blockquote-em-font-style          : ;
   --blockquote-em-font-weight         : normal;
   --blockquote-font-family            : ;
   --blockquote-font-size              : ;
   --blockquote-font-style             : ;
   --blockquote-font-weight            : normal;
   --blockquote-quotes-close           : ;
   --blockquote-quotes-color           : ;
   --blockquote-quotes-font-family     : ;
   --blockquote-quotes-font-size       : ;
   --blockquote-quotes-open            : ;

   /* Code */
   --code-font-family                  : Inconsolata, Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
   --code-font-size                    : calc(var(--font-size-m) * 0.95);
   --code-font-weight                  : normal;
   --code-tab-size                     : 4;

   --code-block-border-radius          : var(--border-radius-m);
   --code-block-line-height            : var(--base-line-height);
   --code-block-margin                 : 1em 0;
   --code-block-padding                : 1.75em 1.5em 1.5em 1.5em;

   --code-inline-background            : var(--code-theme-background);
   --code-inline-border-radius         : var(--border-radius-s);
   --code-inline-color                 : var(--code-theme-text);
   --code-inline-margin                : 0 0.15em;
   --code-inline-padding               : 0.125em 0.4em;

   --code-theme-background             : var(--mono-tint3);
   --code-theme-comment                : ;
   --code-theme-function               : ;
   --code-theme-keyword                : ;
   --code-theme-operator               : ;
   --code-theme-punctuation            : ;
   --code-theme-selection              : ;
   --code-theme-selector               : ;
   --code-theme-tag                    : ;
   --code-theme-text                   : ;
   --code-theme-variable               : ;

   /* Tables */
   --table-body-border-color           : ;
   --table-body-border-width           : ;
   --table-cell-border-color           : ;
   --table-cell-border-width           : ;
   --table-cell-padding                : 0.75em 0.5em;
   --table-head-background             : ;
   --table-head-border-color           : var(--table-cell-border-color);
   --table-head-border-width           : ;
   --table-head-font-weight            : var(--strong-font-weight);
   --table-row-even-background         : ;
   --table-row-odd-background          : var(--mono-tint3);

    /* Utility
    ------------------------------------------------------------------------- */
    /* Borders */
    --border-radius-s : ;
    --border-radius-m : ;
    --border-radius-l : ;

    /* Animations and transitions */
    --duration-slow   : 1s;
    --duration-medium : 0.5s;
    --duration-fast   : 0.25s;

    /* Misc
    ------------------------------------------------------------------------- */
    /* Spinner */
    --spinner-size               : 60px;
    --spinner-track-width        : 4px;
    --spinner-track-color        : rgba(0, 0, 0, 0.15);
    --spinner-transition-duration: var(--duration-medium);
}

.ford-logo {
  width: 150px;
  display: block;
  margin: auto;
}

.fixed {
  width: 100px;
  position: fixed;
  bottom: 0px;
  right: 10px;
  opacity: 0.5;
}

.pull-front {
  z-index: 1;
}
